<header class="header-container">
  <div class="logo-section">
    <img src="../../../../assets/rideout.jpeg" alt="Rideout Logo" class="logo" />
    <a routerLink="/home"><span class="app-title">RideOut</span></a>
  </div>

  <nav class="nav-links">
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/rideouts">Rideouts</button>
    <button mat-button routerLink="/about">About</button>
  </nav>

  <div class="action-icons">
    <app-notificationsicon></app-notificationsicon>
    <app-settingsicon></app-settingsicon>
    <app-profileicon></app-profileicon>
  </div>
  </header>